<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <div class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</div>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>CocaCola</th>
                                <td>Bedida</td>
                                <td>México</td>
                                <td>$20.00 MNX</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-danger"></i>
                                    <i class="fa-solid fa-trash text-primary"></i>
                                </td>
                            </tr>
                            <tr>
                                <th>Mundet sidral</th>
                                <td>Bedida</td>
                                <td>México</td>
                                <td>$20.00 MNX</td>
                                <td>
                                    <i class="fa-solid fa-pen-to-square text-danger"></i>
                                    <i class="fa-solid fa-trash text-primary"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
